body {
    margin: 0;
    gap: 20px;
    height: 100%;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
}

.side-bar {
    flex-shrink: 0;
    margin-right: auto;
    background-color: #f4f4f4;
    width: 250px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    gap: 10px;
}

.content-body {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

