.services-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 100px;
    background-color: aqua;
    border-radius: 20px;
}