body {
    display: flex;
    margin: 0;
    gap: 20px;
    height: 100vh;
}

.side-bar {
    margin-right: auto;
    background-color: blanchedalmond;
    width: 250px;
}
a {
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    gap: 10px;
    
}

.content-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 100px;
    background-color: aqua;
    border-radius: 20px;
}